BasedOnStyle: LLVM
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BinPackParameters: false
BreakConstructorInitializersBeforeComma: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 2
IndentWidth: 4
AccessModifierOffset: -4
Standard: Cpp11
